<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='base.css') }}">
    {% block link %}
    {% endblock %}
    
    {% if title %}
        <title>Мой дневник - {{ title }}</title>
    {% else %}
        <title>Мой дневник</title>
    {% endif %}
</head>
<body>
    <header>
        <div>
           <h1>Мой дневник</h1>
            <p><strong>ЧелКИТ "ПРОФИ"</strong></p> 
        </div>
        <ul>
        {% block menu %}
        {% endblock %}
        </ul>
    </header>

    <div class="content">
        {% block content %}
        {% endblock %}
    </div>

    <footer>
        <h4>Подвал</h4>
    </footer>
</body>
</html>